<div>
    <%= form_with model: sandwich do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
        <%= f.label :description %>
        <%= f.text_area :description %><br>
        <%= f.label :instructions %>
        <%= f.text_area :instructions %><br>
        <%= f.label :ingredients %><br>
        <div class='checkbox row col-12'>
        <% ingredients.each do |i| %>
        <div class= 'col-4'> <%= f.label i.name, {class: 'col-3'} %>:<%= f.check_box :ingredients, { multiple: true, checked: sandwich.ingredients.include?(i), class: 'col-1'}, i.name, false %> - <%= f.text_field "quantity[#{i.name}]", value: sandwich.ingredient_quantity(i.id) %></div>
        <% end %>
        </div>
        <br>
        <%= f.submit %>
    <% end %>
<div>