<div>
    <%= form_with model: sandwich do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %><br>
        <%= f.label :description %>
        <%= f.text_area :description %><br>
        <%= f.label :instructions %>
        <%= f.text_area :instructions %><br>
        <%= f.label :ingredients %><br>
        <div class='checkbox'>
        <% ingredients.each do |i| %>
        <p> <%= f.label i.name %>:<%= f.check_box :ingredients, { multiple: true, checked: sandwich.ingredients.include?(i) }, i.name, false %> - <%= f.label "Quantity"%><%= f.text_field "quantity[#{i.name}]", value: sandwich.ingredient_quantity(i.id) %></p>
        <% end %>
        </div>
        <br>
        <%= f.submit %>
    <% end %>
<div>