<h1 class='text-center'>Browse Sandwiches</h1>

<div class='container text-center'>
    <%= form_tag('/sandwiches/search')%>
    <%= label_tag(:search, 'Search')%>
    <%= search_field(:search, :name)%><br>
    <%= label_tag(:search, 'Filter results by')%>
    <%= select_tag('category', options_for_select(@categories.map{ |c| [c,c] }))%>
    <%= submit_tag "Search" %>
</div>
<br>
<br>
<div class='col-12 container'>
    <ul class="list-unstyled row">
        <% @sandwiches.each do |s| %>
            <li class="list-group-item col-4 border-0"><%= link_to s.title, sandwich_path(s) %> - <%= s.average_rating %> stars</li>
        <% end %>
    </ul>
</div>

<div class='container text-center'>
<button><%= link_to "Contribute a Sandwich", new_sandwich_path, {class: 'text-decoration-none text-dark'} %></button>
</div>