<h1 class='text-center'>Browse Sandwiches</h1>

<div class='container text-center'>
    <%= form_tag('/sandwiches/search')%>
    <%= label_tag(:search, 'Search')%>
    <%= search_field(:search, :name, {class: 'w-50'})%><br>
    <%= label_tag(:search, 'Filter results by')%>
    <%= select_tag('category', options_for_select(@categories.map{ |c| [c,c] }))%>
    <%= submit_tag "Search", {class: 'w-25'} %>
</div>
<br>
<br>
<div class='col-10 container mt-5'>
    <ul class="list-unstyled row">
        <% @sandwiches.each do |s| %>
        <li class="list-group-item col-sm-6 col-md-4 col-lg-2 border-0">
            <figure class='text-center'>
            <img class='round' src=
            <% if s.sandwich_photo.attached? %>
                <%= url_for(s.sandwich_photo)%>
            <% else %>
                <%= "/assets/#{s.img_url}" %> 
            <% end %> width="100" height='100'>
            <figcaption><%= link_to s.title, sandwich_path(s) %> <br> <%= s.average_rating %> stars</figcaption>
            </figure>
            </li>
        <% end %>
    </ul>
</div>

<div class='container text-center mb-5'>
<button><%= link_to "Contribute a Sandwich", new_sandwich_path, {class: 'text-decoration-none text-dark'} %></button>
</div>