<h1 class='text-center'>Browse Sandwiches</h1>

<div class='container text-center'>
    <%= form_tag('/sandwiches/search')%>
    <%= label_tag(:search, 'Search')%>
    <%= search_field(:search, :name)%><br>
    <%= label_tag(:search, 'Filter results by')%>
    <%= select_tag('category', options_for_select(@categories.map{ |c| [c,c] }))%>
    <%= submit_tag "Search" %>
</div>
<br>
<br>
<div class='container'>
    <ol>
        <% @sandwiches.each do |s| %>
            <li><h5><%= link_to s.title, sandwich_path(s) %> - <%= s.average_rating %> stars</h5></li>
        <% end %>
    </ol>
</div>