<div class='text-center container'>
    <h1>New Sandwich</h1>

    <div class='container'>
        <p>Please name and describe your sandwich <br> You will add ingredients on the next page</p>
        <%= form_with model: @sandwich do |f| %>
            <%= f.hidden_field :user_id, value: session[:user_id] %>
            <div class='form-group'>
            <%= f.label :title %><br>
            <%= f.text_field :title, {class: 'w-100'} %><br>
            </div>
            <div class='form-group'>
            <%= f.label :description %><br>
            <%= f.text_area :description, {class: 'w-100'} %><br>
            </div>
            <%= f.label :instructions %><br>
            <%= f.text_area :instructions, {class: 'w-100'} %><br>
            <div class='form-group'>
            <%= f.label 'Upload a Photo' %><br>
            <%= f.file_field :sandwich_photo %><br><br>
            </div>
            <%= f.submit %>
        
        <%end%>
        <br>
        <%= flash[:error] %>
    </div>
</div>


