<div class='text-center'><h1><%= @sandwich.title %></h1></div>
<% if @sandwich.user.id == session[:user_id] %>
    <p><%= link_to "Delete this Sandwich", sandwich_path(@sandwich), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p><%= link_to "Edit this Sandwich", edit_sandwich_path(@sandwich) %></p>
<%end%>
<%= render 'details'%>

<div class='container'>
    <h2>Comments:</h2>
    <%@sandwich.comments.each do |com|%>
    <div>
        <% if !com.content.empty? %>
            <h4><%= com.title%></h4>
            <h5>Rating: <%=com.rating%><h5>
            <div class='bg-light'>
                <p><%= com.user.display_name %>, commented at: <%= com.created_at %></p>
                <p><%= com.content %></p>
                <% if com.user_id == session[:user_id] %>
                    <%= link_to "Delete Comment", comment_path(comment_id: com.id, sandwich_id: @sandwich.id), method: :delete, data: {confirm: "Are you sure?"}%>
                <% end %>
            </div>
        <%end%>
        <% if !com.replies.empty? %>
            <h4>Replies:</h4>
        <% end %>
        <%com.replies.each do |r|%>
        <div>
            <p><%=r.user.display_name %>, replied at: <%= r.created_at %></p>
            <p><%= r.content %></p>
            <% if r.user.id == session[:user_id] %>
                <%= link_to "Delete Reply", reply_path(reply_id: r.id, sandwich_id: @sandwich.id), method: :delete, data: {confirm: "Are you sure?"}%>
            <% end %>
        </div>
        <% end %>
        <% if !com.content.empty? %>
            <%= render partial: '/replies/form', locals: {comment: com} %>
        <% end %>
    </div>
    <% end %>
</div>

<div>
    <h3>Leave a Comment:</h3>
    <%= render partial: '/comments/form', locals: {sandwich: @sandwich} %>
</div>
