<div>
  <h4>To add an unlisted ingredient, please create a new ingredient below</h4>
  <%= form_with url: add_ingredient_path, scope: 'ingredient' do |f| %>
      <%= f.hidden_field :sandwich_id, value: sandwich.id %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :quantity %>
    <%= f.text_field :quantity%>
    <br>
    <%= f.label :type_of %>
    <%= f.select :type_of, type_of, include_blank: true %>
    <br>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
    <br>
    <%= f.label "Does it have meat?" %>
    <%= f.check_box :is_meat %>
    <%= f.label "Does it contain either dairy or egg?" %>
    <%= f.check_box :is_dairy_or_egg %>
    <%= f.label "Is it gluten-free?" %>
    <%= f.check_box :is_gluten_free %>
    <br>
    <%= f.submit %>
  <% end %>
  <br>
</div>


