<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Chilanka|Open+Sans+Condensed:300&display=swap" rel="stylesheet">

    <title>SandwichesAClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default clearfix nav-div">
      <div class="container w-25 float-left nav-div">
        <div class="navbar-header">
          <%= link_to image_tag("/assets/logo.png", {width: '200px', id: 'logo'}) , stranger_home_path, {class: "navbar-brand text-white"} %>
        </div>
      </div>
      <div class="float-right" >
          <% if session[:user_id] %>
            <% user = User.find(session[:user_id]) %>
            <div class='float-right'><%= link_to 'Logout', logout_path %></div>
            <div class='float-right mr-3'><%= link_to 'Profile', user_path(user.username) %></div>
          <% else %>
            <div class='float-right'><%= link_to "Log in", login_path %></div>
            <div class='float-right mr-3'><%= link_to "Sign up", new_user_path %></div>
          <% end %>
          <div class='float-right mr-3'><%= link_to 'Sandwiches', sandwiches_path %></div>
          <div class='float-right mr-3'><%= link_to 'Ingredients', ingredients_path %></div>
          <div class='float-right mr-3'><%= link_to 'About Us', about_path %></div>
        </div>
    </nav>
    <div>
    <p> </p>
    <div>
    <%= yield %>
  </body>
</html>
