<!DOCTYPE html>
<html>
  <head>
    <title>SandwichesAClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default bg-secondary">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand text-white" href="#">Sandwich: a Club</a>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to 'Home', stranger_home_path, {class: 'text-white'} %></li>
          <li><%= link_to 'Sandwiches', sandwiches_path, {class: 'text-white'} %></li>
          <li><%= link_to 'Ingredients', ingredients_path, {class: 'text-white'} %></li>
        </ul>
      </div>
    </nav>
    <div>
    <p> </p>
    <div>
    <%= yield %>
  </body>
</html>
